   #bgBox {
            width: 1440px;
            height: 1024px;
            background-image: url(/Users/apple/Desktop/Projects/HNG-Login-SignUp-page/Desktop12.png)
        }

        .box1 {
            position: absolute;
            width: 670px;
            height: 757px;
            left: 120px;
            top: 162px;
            background-color: #5b8fde;
            border-radius: 80px;

        }

        .box2 {
            position: absolute;
            width: 670px;
            height: 757px;
            left: 646px;
            top: 162px;
            background-color: #ffffff;
            border-radius: 80px;
        }

        .elipse {
            position: absolute;
            width: 200px;
            height: 200px;
            left: 546px;
            top: 450px;
            background: #5b8fde;
            border: 50px solid #ffffff;
            border-radius: 200px;
            box-sizing: border-box;
        }

        img {
            position: relative;
            width: 1440px;
            height: 1024px;
            backdrop-filter: blur(10px);
        }
